<div ng-controller="AppEntitiesViewController" ng-init="onInit()">
    <!--Models-->
    <div class="modal fade" id="updateEntityData">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" ng-show="!isCreateNewEntity">Entity value: {{selectedappEntity.value}}</h4>
                    <div ng-show="isCreateNewEntity">
                        <label for="new_entity_value" class="control-label">Entity value:</label>
                        <input type="text" id="new_entity_value" class="form-control" ng-model="selectedappEntity.value"
                               ng-change="reset_error_flag('value_error'); reset_error_flag('value_duplicate_error')">
                        <p style="color: red; float: right" ng-show="isSubmit && value_error">*Entity value is required</p>
                        <p style="color: red; float: right" ng-show="isSubmit && value_duplicate_error">*Entity value already exist</p>
                    </div>
                </div>
                <div class="modal-body">
                    <p><b>Data:</b></p>
                    <textarea class="col-xs-12" style="resize: none; height: 100px; margin-bottom: 10px"
                              ng-model="selectedappEntity.data" ng-change="reset_error_flag('data_error')"></textarea>
                    <p style="color: red; float: right" ng-show="isSubmit && data_error">*Entity data is required</p>
                    <p style="margin-top: 10px"><b>Expressions:</b></p>
                    <div class="list-group col-xs-12" style="margin-top: 10px">
                        <p class="text-info" ng-if="selectedappEntity.expressions.length===0">You don't have any expressions yet.</p>
                        <a class="list-group-item" ng-repeat="item in selectedappEntity.expressions"
                           ng-click="appEntityUpdateItemClick(item)">
                            <p class="list-group-item-text">{{item}}</p>
                        </a>
                    </div>
                    <div class="form-group">
                        <label for="intUpdateExpression" class="control-label">Add Expressions</label>
                        <input type="text" id="intUpdateExpression" ng-model="intUpdateExpression" class="form-control">
                    </div>
                    <input type="button" style="float: right; width: 100px" value="Add" class="btn btn-success" ng-click="btn_update_add_expressions()">
                </div>
                <div class="modal-footer" style="margin-top: 5%">
                    <img src="assets/img/loading.svg" ng-show="isLoadingModel" style="height: 60px; float: left; margin-top:-15px">
                    <button type="button" class="btn btn-danger" style="width: 100px" ng-click="appEntityItemDelete(false)" ng-show="!isCreateNewEntity">Delete</button>
                    <button type="button" class="btn btn-success" style="width: 100px" ng-click="appEntityItemUpdate(false)">Update</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" style="width: 100px">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="updateWitData">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create/Update data for selected wit-entity</h4>
                </div>
                <div class="modal-body">
                    <textarea class="col-xs-12" style="resize: none; height: 100px; margin-bottom: 10px"
                              ng-model="selectedWitData.data" ng-change="reset_error_flag('data_error')"></textarea>
                    <p style="color: red; float: right" ng-show="isSubmit && wit_data_error">*Entity data is required</p>
                </div>
                <div class="modal-footer" style="margin-top: 17%">
                    <img src="assets/img/loading.svg" ng-show="isLoadingModel" style="height: 60px; float: left; margin-top:-15px">
                    <button type="button" class="btn btn-danger" style="width: 100px" ng-click="appEntityItemDelete(true)" ng-show="!isCreateNewWitEntity">Delete</button>
                    <button type="button" class="btn btn-success" style="width: 100px" ng-click="appEntityItemUpdate(true)">Update</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" style="width: 100px">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <div class="col-xs-12">
        <div class="col-xs-12" ng-if="entities.length===0">
            <img src="assets/img/loading.svg" style="height: 60px;" class="center-block">
        </div>
        <div class="col-xs-3" style="border-right: 1px solid gainsboro">
            <p ng-repeat="item in entities">
                <a href="" ng-click="onItemClick(item)">{{item}}</a>
            </p>
        </div>
        <div class="col-xs-9" ng-if="entities.length!==0">
            <img src="assets/img/loading.svg" ng-show="isLoading" style="height: 60px;" class="center-block">
            <div ng-hide="isLoading">
                <h4>Name: {{entityName}}</h4>
                <h4>Description: {{entityDescription}}</h4>
                <hr>
                <h4>lookup strategy :</h4>
                <p ng-repeat="item in lookup">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- {{item}}</p>
                <hr>
                <div ng-show="isWitEntity && wit_value_array.length>0">
                    <h4 class="" ng-if="wit_value_array.length>0">Data:</h4>
                    <h5 class="text-info"><b>Note: You can add more than one data for this entity. Then bot will randomly select data and
                        make the conversation more interactive with the chat user</b></h5>
                    <div class="list-group">
                        <a href="" class="list-group-item" ng-repeat="item in wit_value_array"
                           data-target="#updateWitData" data-toggle="{{isWitEntity ? 'modal' : ''}}" ng-click="onClickWitEntityData(false,item)">
                            <p class="list-group-item-text">{{item.data}}</p>
                        </a>
                    </div>
                    <input type="button" class="btn btn-default" value="add" style="width: 150px; float: right"
                           ng-show="isWitEntity" data-target="#updateWitData" data-toggle="{{isWitEntity ? 'modal' : ''}}"
                            ng-click="onClickWitEntityData(true,null)">
                    <hr style="margin-top: 70px">
                </div>
                <h4>Values and expressions</h4>
                <p class="text-info" ng-if="values.length===0">Currently there are not values and expressions for this entity</p>
                <div class="list-group">
                    <a href="" class="list-group-item" ng-repeat="item in values"
                       data-target="#updateEntityData" data-toggle="{{isWitEntity ? '' : 'modal'}}" ng-click="entityItemClick(item)">
                        <h4 class="list-group-item-heading">{{item.value}}</h4>
                        <p class="list-group-item-text" ng-if="item.data.length>0"><b>Data:</b></p>
                        <p class="list-group-item-text">{{item.data}}</p>
                        <p class="list-group-item-text" ng-if="item.expressions.length>0"><b>Expressions:</b></p>
                        <p class="list-group-item-text" ng-repeat="exp in item.expressions track by $index">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- {{item.expressions[$index]}}</p>
                    </a>
                </div>
                <img src="assets/img/loading.svg" ng-show="isLoadingDelete" style="height: 60px; float: left; margin-top:-15px">
                <input type="button" class="btn btn-success" value="Add" data-target="#updateEntityData" data-toggle="modal"
                       style="width: 150px; margin-left: 10px; float: right"
                       ng-click="add()" ng-show="!isWitEntity">
                <input type="button" class="btn btn-danger" value="Delete" style="width: 150px; float: right"
                       ng-show="!isWitEntity" ng-click="delete()">
            </div>
        </div>
    </div>
</div>