<div class="modal fade" id="broadcastMessage" ng-controller="BroadcastMessage">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Send Broadcast Message</h4>
            </div>
            <div class="modal-body">
                <h5 class="text-info text-center"><b>Note: This message will send to all users.</b></h5>
                <div data-wysiwyg='message' data-wysiwyg-toolbar='' ng-model="message" id="textarea_message_model_data"
                     ng-change="onChangeMessage()" class="" style="resize: none; height: 200px"></div>
                <h5 class="text-info text-right" ng-show="message_error" style="color: red">*Message is required</h5>
                <h5 class="text-info text-center" ng-show="isSend">Message sent to {{count}} users</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" style="width: 100px" ng-click="sendMessage()">Send</button>
            </div>
        </div>
    </div>
</div>