<div ng-controller="EntityController" ng-init="onInit()">
    <div class="alert alert-success" ng-show="successAlert">
        {{message}}
    </div>
    <div class="alert alert-danger" ng-show="dangerAlert">
        {{message}}
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text-info">Intent - {{selectedIntentName}}</h4>
        </div>
        <div class="panel-body">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="form-group">
                    <label for="intexpName" class="control-label">App Intent Expressions</label>
                    <input type="text" id="intexpName" class="form-control" ng-model="add_exp_int_value">

                </div>
                <div ng-if="add_intent_expressions.length===0">
                    <h5 class="col-xs-12 text-info">You don't have any expressions, Create now</h5>
                </div>

                <input type="button" style="float: right; width: 150px" value="Add"
                       class="btn btn-success" ng-click="btn_add_intent_expressions(add_exp_int_value)">

                <div ng-if="add_intent_expressions.length>0">
                    <ul class="list-group" style="margin-top: 60px">
                        <li class="list-group-item" ng-repeat="item in add_intent_expressions" ng-click="exp_add_item_int_click(item)">{{item}}</li>
                    </ul>
                </div>

                <div class="form-group col-xs-12">
                    <label for="intentDescription" class="control-label">Intent Description</label>
                    <textarea style="width: 100%; height: 200px; resize: none" id="intentDescription" ng-model="indentDes" ng-change="changeText('intent_description_empty')"></textarea>
                </div>
                <div class="col-xs-12">
                    <span class="col-xs-12" ng-show="isSubmit && intent_description_empty"><p style="color: red; float: right">*Intent description is required</p></span>
                </div>
                <input type="button" class="btn btn-success" value="Update" style="float: right; width: 150px; margin-top: 10px" ng-click="createNewIntent()">
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text-info">Create new entity for '{{selectedIntentName}}'</h4>
        </div>
        <div class="panel-body">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="form-group">
                    <label for="entityName" class="control-label">Entity Name</label>
                    <input type="text" id="entityName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="expName" class="control-label">App Expressions</label>
                    <input type="text" id="expName" class="form-control" ng-model="add_exp_value">

                </div>
                <div ng-if="add_expressions.length===0">
                    <h5 class="col-xs-12 text-info">You don't have any expressions, Create now</h5>
                </div>
                <input type="button" style="float: right; width: 150px" value="Add" class="btn btn-success" ng-click="btn_add_expressions()">

                <div ng-if="add_expressions.length>0">
                    <ul class="list-group" style="margin-top: 60px">
                        <li class="list-group-item" ng-repeat="item in add_expressions" ng-click="exp_add_item_click(item)">{{item}}</li>
                    </ul>
                </div>

                <div class="form-group col-xs-12">
                    <label for="entityDescription" class="control-label">Entity Description</label>
                    <textarea style="width: 100%; height: 200px; resize: none" id="entityDescription"></textarea>
                </div>
                <div class="col-xs-12">
                    <h5 style="color: red; margin-left: 5%">Note:</h5>
                    <div style="margin-left: 10%">
                        <h5 style="color: red">-Continuous questions features are still developing.</h5>
                        <h5 style="color: red">-Cannot create two entities with the same name.</h5>
                        <h5 style="color: red">-Please put a meaningful name when creating an entity.</h5>
                    </div>
                </div>
                <input type="button" class="btn btn-success" value="Create" style="float: right; width: 150px; margin-top: 10px">
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text-info">Your current entities</h4>
        </div>
        <div class="panel-body">
            <div class="col-xs-8 col-xs-offset-2">
                <label for="lblEntitiesSelect">App entities</label>
                <select ng-model="selectedEntityName" class="form-control" name="size" id="lblEntitiesSelect">
                    <option ng-repeat="item in currentEntities">{{item.name}}</option>
                </select>
                <div ng-if="currentEntities.length>0">
                    <div class="form-group" style="margin-top: 10px">
                        <label for="entityUpName" class="control-label">Entity Name</label>
                        <input type="text" id="entityUpName" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="entityUpDescription" class="control-label">Entity Description</label>
                        <textarea style="width: 100%; height: 200px; resize: none" id="entityUpDescription"></textarea>
                    </div>
                    <input type="button" class="btn btn-success" value="Update" style="width: 150px; float: right" ng-click="showView('entity')">
                    <input type="button" class="btn btn-default" value="Delete" style="width: 150px; float: right; margin-right: 1%">
                </div>
                <div ng-if="currentEntities.length<=0" style="margin-top: 4%">
                    <h5 class="text-info">You don't have any entities at the moment!</h5>
                </div>
            </div>
        </div>
    </div>
</div>