<div ng-controller="IntentController" ng-init="onInit()">
    <div class="alert alert-success" ng-show="successAlert">
        {{message}}
    </div>
    <div class="alert alert-danger" ng-show="dangerAlert">
        {{message}}
    </div>
    <!--Models-->
    <div class="modal fade" id="updateData">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Intent value: {{selectedappIntents.value}}</h4>
                </div>
                <div class="modal-body">
                    <div class="list-group">
                        <a class="list-group-item" ng-repeat="item in selectedappIntents.expressions"
                           ng-click="appIntentsUpdateItemClick(item)">
                            <p class="list-group-item-text">{{item}}</p>
                        </a>
                    </div>
                    <div class="form-group">
                        <label for="intUpdateExpression" class="control-label">App Expressions</label>
                        <input type="text" id="intUpdateExpression" ng-model="intUpdateExpression" class="form-control">
                    </div>
                    <input type="button" style="float: right; width: 100px" value="Add" class="btn btn-success" ng-click="btn_update_add_expressions()">
                </div>
                <div class="modal-footer" style="margin-top: 5%">
                    <button type="button" class="btn btn-danger" style="width: 100px" ng-click="appIntentsItemDelete()">Delete</button>
                    <button type="button" class="btn btn-success" style="width: 100px" ng-click="appIntentsItemUpdate()">Update</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" style="width: 100px">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <div class="col-xs-12">
        <div class="col-xs-3">
            <h4 class="text-info">Current intents</h4>
            <div ng-show="isLoading">
                <img src="assets/img/loading.svg" style="height: 60px;" class="center-block">
            </div>
            <div ng-show="!isLoading">
                <div class="list-group">
                    <a class="list-group-item" ng-repeat="item in appIntentsLookups">
                        <h4 class="list-group-item-heading">Lookup strategy</h4>
                        <p class="list-group-item-text" style="margin-left: 30px">- {{item}}</p>
                    </a>
                </div>
                <div class="list-group">
                    <a class="list-group-item" ng-repeat="item in appIntents" ng-click="appIntentsItemClick(item)"
                       data-target="#updateData" data-toggle="modal">
                        <h4 class="list-group-item-heading">{{item.value}}</h4>
                        <p class="list-group-item-text" ng-repeat="exp in item.expressions" style="margin-left: 30px">- {{exp}}</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-info">Create new intent</h4>
                </div>
                <div class="panel-body">
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="form-group">
                            <label for="intentName" class="control-label">Intent Name</label>
                            <input type="text" id="intentName" class="form-control" ng-model="intentName" ng-change="changeText('intent_name_empty'); changeText('intent_name_dublicate')">
                            <div class="col-xs-12">
                                <span class="col-xs-12" ng-show="isSubmit && intent_name_empty"><p style="color: red; float: right">*Intent name is required</p></span>
                                <span class="col-xs-12" ng-show="isSubmit && intent_name_dublicate"><p style="color: red; float: right">*Intent name is already taken</p></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="expName" class="control-label">App Expressions</label>
                            <input type="text" id="expName" class="form-control" ng-model="add_exp_value">
                        </div>
                        <div ng-if="add_expressions.length===0">
                            <h5 class="col-xs-12 text-info">You don't have any expressions, Create now</h5>
                        </div>

                        <input type="button" style="float: right; width: 150px" value="Add" class="btn btn-default" ng-click="btn_add_expressions()">

                        <div ng-if="add_expressions.length>0">
                            <div class="list-group"  style="margin-top: 60px">
                                <a class="list-group-item">
                                    <h4 class="list-group-item-heading">{{intentName}}</h4>
                                    <p class="list-group-item-text" ng-repeat="item in add_expressions" style="margin-left: 30px">- {{item}}</p>
                                </a>
                            </div>
                        </div>
                        <div class="form-group col-xs-12" style="margin-top: 10px">
                            <label for="intentDescription" class="control-label">Intent Description</label>
                            <input type="text" id="intentDescription" class="form-control" ng-model="indentDes" ng-change="changeText('intent_description_empty')">
                            <div class="col-xs-12">
                                <span class="col-xs-12" ng-show="isSubmit && intent_description_empty"><p style="color: red; float: right">*Intent description is required</p></span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <h5 style="color: red; margin-left: 5%">Note:</h5>
                            <div style="margin-left: 10%">
                                <h5 style="color: red">-Cannot create two intent with the same name.</h5>
                                <h5 style="color: red">-Please put a meaningful name when creating an intent.</h5>
                            </div>
                        </div>
                        <input type="button" class="btn btn-success" value="Create" style="float: right; width: 150px; margin-top: 10px" ng-click="createNewIntent()">
                    </div>
                </div>
            </div>
            <h4>What is an intent and why we should use</h4>
            <p>We need to understand what your end-user wants to perform. They will ask various things, to understand the action
            we use intents. Few example actions are listed below, <br>
             &nbsp;&nbsp;- <b>Ask about the weather</b><br>&nbsp;
            - <b>Book a restaurant</b><br>&nbsp;
            - <b>Open the garage door</b><br><br>
                The problem is that there a millions of different ways to express a given intent. For instance,
                all the following expressions should be mapped to the same intent:<br>
                 &nbsp;&nbsp;- <b>What is the weather in Paris?</b><br>&nbsp;
                - <b>Give me the current weather in Paris</b><br>&nbsp;
                - <b>Is it sunny or rainy in Paris now?</b>&nbsp;</p>
            <hr>
            <h4>How to create a intent and train our bot</h4>
            <p>Let's consider above weather questions, All these type of questions will trigger same action.
                Now, lets create that intent.<br>
                &nbsp;&nbsp;1)Type your intent name (for our example, intent name is <b>weather</b>)<br>
                &nbsp;&nbsp;2)Add some expressions about your intent (for our example, <b>above questions</b>)<br>
                &nbsp;&nbsp;3)Leave intent description a value (<b>not important</b>, give any value which describe your app)<br>
                &nbsp;&nbsp;4)Create your new intent</p><br>
            <p>You can always go to the <b>App -> Train Bot</b> page and verify your questions<br>
                &nbsp;&nbsp;1)Type your question (for our example, '<b>Is it sunny or rainy in Paris now?</b>')<br>
                &nbsp;&nbsp;2)Click on check button<br>
                &nbsp;&nbsp;3)It will show your intent which you just created<br></p>
            <p><b>Note:</b><br>If the intent did not showed to your question, you can simply
                select <b>intent as the Entity field</b> and <b>'weather' as the value field</b>
            (Select value as custom if you want to give a custom value). Then click on validate and recheck again.
            now your intent should be there :)</p>
        </div>
    </div>
</div>
