<div ng-controller="TrainController" ng-init="onInit()">
    <div class="alert alert-success" ng-show="successAlert">
        {{message}}
    </div>
    <div class="alert alert-danger" ng-show="dangerAlert">
        {{message}}
    </div>
    <div class="col-xs-12">
        <div class="col-xs-3">
            <div ng-include="'views/help/bot.train.help.html'"></div>
        </div>
        <div class="col-xs-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-info">Test your bot response</h4>
                </div>
                <div class="panel-body">
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="form-group">
                            <label for="txtUserINput" class="control-label">Input your expression</label>
                            <input type="text" id="txtUserINput" class="form-control" ng-model="user_input" ng-change="changeText('expression_empty'); expressionOnChange();">
                            <div class="col-xs-12">
                                <span class="col-xs-12" ng-show="expression_empty"><p style="color: red; float: right">*Your expression is required</p></span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-9">
                                <img src="assets/img/loading.svg" ng-show="isLoading" style="height: 60px; margin-top: -4%; margin-left: 30%">
                            </div>
                            <div class="col-xs-3">
                                <input type="button" class="btn btn-success" value="Check" style="width: 100px; float: right"
                                       ng-click="btnCheck()">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-8">
                                <label for="entityName" class="control-label">Entity:</label>
                                <select class="form-control" name="size" id="entityName" ng-model="selectedEntity" ng-change="entitySelect()">
                                    <option ng-repeat="item in entities">{{item}}</option>
                                </select>
                                <span class="col-xs-12" ng-show="entity_name_empty"><p style="color: red; float: right">*Entity name is required</p></span>

                                <label for="entityValue" class="control-label" style="margin-top: 10px">Value:</label>
                                <select class="form-control" name="size" id="entityValue" ng-model="selectedEntityValue" ng-change="valueSelect()">
                                    <option ng-repeat="item in values">{{item.value}}</option>
                                </select>
                                <input type="text" class="form-control" style="margin-top: 10px" ng-show="showCustomInputValueBox"
                                       ng-model="entityValue" ng-change="changeText('entity_value_empty')">
                                <span class="col-xs-12" ng-show="entity_value_empty"><p style="color: red; float: right">*Entity value is required</p></span>
                                <span class="col-xs-12" ng-show="entity_value_exist"><p style="color: red; float: right">*Entity value already exist</p></span>

                                <label for="entityData" class="control-label" style="margin-top: 10px">Data:</label>
                                <textarea style="width: 100%; height: 200px; resize: none" id="entityData"
                                          ng-model="entityData" ng-change="changeText('entity_data_empty')"></textarea>
                                <div class="col-xs-12">
                                    <span class="col-xs-12" ng-show="entity_data_empty"><p style="color: red; float: right">*Entity Data is required</p></span>
                                </div>

                            </div>
                            <div class="col-xs-4">
                                <input type="button" value="Add" class="btn btn-default" style="margin-top: 25px; width: 150px" ng-click="btnAddEntity()">
                                <span class="col-xs-12"><p style="color: red; float: right; margin-top: 10px"
                                                           ng-show="no_values_error">*You did't add any data yet, Add an entity, value pair to validate</p></span>
                            </div>
                        </div>
                        <div class="list-group col-xs-9 col-xs-offset-2" style="margin-top: 10px">
                            <a class="list-group-item" ng-repeat="item in entityArr" ng-click="removeValue(item)">
                                <h4 class="list-group-item-heading"><b>Entity:</b> {{item.entity}}</h4>
                                <p class="list-group-item-text"><b>Value:</b> {{item.value}}</p>
                                <p class="list-group-item-text"><b>Data:</b> {{item.data}}</p>

                            </a>
                        </div>
                        <div class="col-xs-12">
                            <span class="col-xs-12"><p style="color: red; text-align: center; margin-top: 10px"
                                               ng-show="server_400_error">*Check your intent names,
                                                One or many names are not exist. Create them first and train your app</p></span>
                            <span class="col-xs-12"><p style="color: red; text-align: center; margin-top: 10px"
                                                       ng-show="server_error">*Something wrong with the server</p></span>
                            <input type="button" value="Validate" class="btn btn-success" style="margin-top: 25px; width: 150px; float: right" ng-click="btnValidateEntity()">
                        </div>
                        <div class="col-xs-12" ng-show="!isLoading">
                            <div ng-if="!result && isSubmit">
                                <h4 class="text-info">No entities found!</h4>
                            </div>
                            <div ng-if="result">
                                <h4 class="text-info">Entity results :-</h4>
                                <div class="list-group">
                                    <a class="list-group-item" ng-repeat="(s_key,item) in result">
                                        <h4>{{s_key}}</h4>
                                        <div ng-repeat="c_item in item">
                                            <div ng-repeat="(s_key, s_item) in c_item">
                                                <p class="list-group-item-text">{{s_key}} - {{s_item}}</p>
                                                <div ng-if="s_key==='confidence'">
                                                    <div class="progress progress-striped active" style="margin-top: 15px">
                                                        <div class="progress-bar" ng-style="{'width':(s_item*100) + '%'}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>