<div ng-controller="TrainController">
    <div class="alert alert-success" ng-show="successAlert">
        {{message}}
    </div>
    <div class="alert alert-danger" ng-show="dangerAlert">
        {{message}}
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="text-info">Test your bot response</h5>
        </div>
        <div class="panel-body">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="form-group">
                    <label for="txtUserINput" class="control-label">Input your expression</label>
                    <input type="text" id="txtUserINput" class="form-control" ng-model="user_input" ng-change="changeText('expression_empty')">
                    <div class="col-xs-12">
                        <span class="col-xs-12" ng-show="expression_empty"><p style="color: red; float: right">*Your expression is required</p></span>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-9">
                        <img src="assets/img/loading.svg" ng-show="isLoading" style="height: 60px; margin-top: -4%; margin-left: 30%">
                    </div>
                    <div class="col-xs-3">
                        <input type="button" class="btn btn-success" value="Check" style="width: 100px; float: right"
                               ng-click="btnCheck()">
                    </div>
                </div>
                <div class="col-xs-12" ng-show="!isLoading">
                    <div ng-if="!result">
                        <h4 class="text-info">No entities found!</h4>
                    </div>
                    <div ng-if="result">
                        <h4 class="text-info">Entity results :-</h4>
                        <div class="list-group">
                            <a class="list-group-item" ng-repeat="(s_key,item) in result">
                                <h4>{{s_key}}</h4>
                                <div ng-repeat="c_item in item">
                                    <div ng-repeat="(s_key, s_item) in c_item">
                                        <p class="list-group-item-text">{{s_key}} - {{s_item}}</p>
                                        <div ng-if="s_key==='confidence'">
                                            <div class="progress progress-striped active" style="margin-top: 15px">
                                                <div class="progress-bar" ng-style="{'width':(s_item*100) + '%'}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>