<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <!--Import css files-->
    <link rel="stylesheet" href="../vendors/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/reg.login.form.css">
    <!--Import js files-->
    <script src="../vendors/js/jquery-3.2.1.min.js"></script>
    <script src="../vendors/js/bootstrap.min.js"></script>
    <script src="../vendors/js/angular.min.js"></script>
    <script src="../vendors/js/angular-route.js"></script>
    <script src="../vendors/js/ngStorage.min.js"></script>
    <script src="../vendors/js/angular-ui-router.min.js"></script>
    <!--Angular main config-->
    <script src="app.modules.js"></script>
    <script src="app.config.js"></script>
    <script src="app.run.js"></script>
    <!--Angular controllers-->
    <script src="controller/main.controller.js"></script>
    <script src="controller/intent.view.controller.js"></script>
    <script src="controller/entity.view.controller.js"></script>
    <script src="controller/train.view.controller.js"></script>
    <script src="controller/app.entities.view.controller.js"></script>
    <script src="controller/user.auth.controller.js"></script>
    <!--Angular Services-->
    <script src="service/page.refresh.service.js"></script>
    <script src="service/page.view.service.js"></script>
    <script src="service/app.entities.service.js"></script>
    <script src="service/auth.service.js"></script>
    <!--Base URL-->
    <base href="/ang-chatbot-dashboard/app/">
</head>
<nav class="navbar navbar-default" ng-controller="mainController" ng-show="isAuthanticated">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="../app/assets/img/chat-bot-logo.png" style="width: 160px; margin-top: -15px"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" style="margin-left: 50px">
                <li id="navIntents"><a href="" ng-click="showView('intent')">Intents</a></li>
                <li id="navEntities"><a href="" ng-click="showView('entity')">Entities</a></li>
                <li class="dropdown" id="navDrop1">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">App <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="" ng-click="showView('training')">Train Bot</a></li>
                        <li><a href="" ng-click="showView('app_entities')">App Entities</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" id="navDrop2">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="../app/assets/img/default_profile_pic.png" style="width: 30px; margin: -10px 10px -10px 21px; right: 0">
                        {{admin_user_name}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="">Profile</a></li>
                        <li><a href="" ng-click="showView('settings')">Settings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="" ng-click="userLogOut()">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<body ng-app="chat-bot-app" ng-controller="mainController">

    <div class="container">
        <div ng-view style="margin-top: 0%"></div>
    </div>

    <footer class="footer container-fluid">
            <div class="col-xs-12" style="margin-top: 40px">
                <div class="col-xs-4">
                    <img src="../app/assets/img/chat-bot-logo.png" style="width: 160px; margin-top: -15px">
                    <p class="footer-links">
                        <a href="" ng-click="showView('intent')">Intent</a>·
                        <a href="" ng-click="showView('entity')">Entity</a>·
                        <a href="" ng-click="showView('training')">Training</a>·
                        <a href="" ng-click="showView('settings')">Settings</a>·
                        <a href="">Faq</a>·
                        <a href="">Contact</a>
                    </p>
                    <p class="footer-company-name">Company Name &copy; 2015</p>
                </div>
                <div class="col-xs-4">
                    <div class="col-xs-12">
                        <div class="col-lg-4">
                            <img src="../app/assets/img/location.png" style="width: 30px; float: right"></a>
                        </div>
                        <div class="col-lg-8">
                            <p ><span>21 Revolution Street</span> <br>Paris, France</p>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-lg-4">
                            <img src="../app/assets/img/phone.png" style="width: 30px; float: right"></a>
                        </div>
                        <div class="col-lg-8">
                            <p>+1 555 123456</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <p class="footer-company-about">
                        <span>About the company</span><br>
                        Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                    </p>
                </div>
            </div>
    </footer>
</body>
</html>
