html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 200px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer*/
    height: 150px;
    background-color: #f5f5f5;
}

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

#navEntities a:hover{
    background-color: #e7e7e7;
}
#navIntents a:hover{
    background-color: #e7e7e7;
}
#navHelp a:hover{
    background-color: #e7e7e7;
}
#navDrop1 a:hover{
    background-color: #e7e7e7;
}
#navDrop2 a:hover{
    background-color: #e7e7e7;
}
.footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}