<div class="col-xs-12" ng-controller="mainController" style="margin-top: -50px">
    <!--Modals-->
    <div ng-include="'views/components/broadcast.message.html'"></div>
    <!--Views-->
    <div ng-include="'views/components/intent.view.html'" ng-show="viewController.intent"></div>
    <div ng-include="'views/components/entity.view.html'" ng-show="viewController.entity"></div>
    <div ng-include="'views/components/settings.view.html'" ng-show="viewController.settings"></div>
    <div ng-include="'views/components/train.view.html'" ng-show="viewController.training"></div>
    <div ng-include="'views/components/app.entities.html'" ng-show="viewController.app_entities"></div>
    <div ng-include="'views/components/help.view.html'" ng-show="viewController.help"></div>
</div>