<div class="container" ng-controller="mainController">
    <div class="col-xs-3">
        <div class="list-group">
            <a ng-click="showView('settings')" class="list-group-item">Settings</a>
            <a ng-click="showView('intent')" class="list-group-item">Intents</a>
            <a ng-click="showView('entity')" class="list-group-item">Entities</a>
        </div>
    </div>
    <div class="col-xs-9">
        <div ng-include="'views/components/intent.view.html'" ng-show="viewController.intent"></div>
        <div ng-include="'views/components/entity.view.html'" ng-show="viewController.entity"></div>
        <div ng-include="'views/components/settings.view.html'" ng-show="viewController.settings"></div>
    </div>
</div>